.button-panel {
  padding: 10px 16px;
  color: #fff;
  background-color: #9C27B0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.6s linear;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.button-panel:hover {
  opacity: 0.7;
}


